<link
  href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
  rel="stylesheet"
/>
<body>
  <div id="wrap">
    <div id="product_layout_1">
      <div class="top">
        <div class="product_images">
          <div class="product_image_1">
            <img src="../../assets/imagenes/muletas.jpg" />
          </div>
          <div class="product_image_small">
            <div class="product_image_2">
              <img src="../../assets/imagenes/muletas.jpg" />
            </div>
            <div class="product_image_3">
              <img src="../../assets/imagenes/muletas.jpg" />
            </div>
            <div class="product_image_4">
              <img src="../../assets/imagenes/muletas.jpg" />
            </div>
          </div>
        </div>
        <div class="product_info">
          <h1>Muleta Pegable</h1>
          <br /><br /><br /><br />
          <div class="price">
            <h2 class="original_price">$2000</h2>
            <h2 class="sale_price">$1599</h2>
          </div>
          <br>
          <div class="product_description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis similique asperiores sapiente porro nostrum fugit, neque aperiam maiores, cupiditate laborum labore dolorum quo possimus ea exercitationem numquam modi in ex?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quisquam, id porro nostrum in, accusamus dignissimos veniam nam neque quae nesciunt numquam inventore quaerat dolor, minus cumque possimus illum. Doloremque?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque magni, culpa rerum explicabo vel minima animi provident nulla cum autem libero ullam tempore! Ab excepturi saepe, ex dolorem obcaecati earum!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis similique asperiores sapiente porro nostrum fugit, neque aperiam maiores, cupiditate laborum labore dolorum quo possimus ea exercitationem numquam modi in ex?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quisquam, id porro nostrum in, accusamus dignissimos veniam nam neque quae nesciunt numquam inventore quaerat dolor, minus cumque possimus illum. Doloremque?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque magni, culpa rerum explicabo vel minima animi provident nulla cum autem libero ullam tempore! Ab excepturi saepe, ex dolorem obcaecati earum!
            </p>
            <p>
              My insurance, it's your car, your insurance should pay for it.
              Hey, I wanna know who's gonna pay for this? I spilled beer all
              over it when that car smashed into me. Who's gonna pay my cleaning
              bill? Radiation suit, of course, cause all of the fall out from
              the atomic wars. This is truly amazing, a portable television
              studio. No wonder your president has to be an actor, he's gotta
              look good on television. C'mon, he's not that bad. At least he's
              letting you borrow the car tomorrow night. Ohh, no. What do you
              mean you've seen this, it's brand new.
            </p>
          </div>
          <div class="related_info">
            <span class="sku">SKU:1234567</span
            ><span class="quantity">QTY:85</span>
          </div>
          <div class="options">
            <div class="buying">
              <div class="quantity">
                <label for="quantity">QTY:</label>
                <input type="text"/>
              </div>
              <div class="cart">
                <a href="#" class="add"
                  >Add to Cart</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="bottom">
        <div class="reviews">
          <div class="head">
            <h2>Reviews</h2>
          </div>
          <div class="content">
            <span class="name">Marty McFly</span
            >
            <p class="review_text">
              "Check out that four by four. That is hot. Someday, Jennifer,
              someday. Wouldn't it be great to take that truck up to the lake.
              Throw a couple of sleeping bags in the back. Whoa, wait, Doc. Here
              you go, lady. There's a quarter. Well, it will just happen. Like
              the way I met your father..."
            </p>
            <p class="fullReview"><a href="#">View Full Review</a></p>
            <span class="writeReview"
              ><a href="#">Write your Own Review</a></span
            >
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
